
@import 'styles/_variables';
@import 'styles/_mixins';

.register-payment {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;

    &__wrapper {
        width: 900px;
        padding: $spacing;
    }

    &__header {
        height: 100%;
        width: 100%;
        background-color: red;
        color: azure;
        text-align: center;
    }

    &__headerLink {
        width: 30%;
        color: red;
        text-align: right;
        justify-content: right;
        padding-top: 100;
        padding-bottom: 100;
    }

    &__form {
        width: 100%;

        .app-form__submit {
            background-color: red;
            color: azure;
            border-color: red;
        }

        .form-row {
            margin-bottom: $spacing-half;
        }

        .form-label {
            text-decoration-color: red;
        }
    }
}
